/ressources/
py_log.log

.DS_Store
/client/front/node_modules
/client/front/dist
/client/front/tsconfig.tsbuildinfo

# local env files
.env.local
.env.*.local
client/front/.env.local
server/properties.toml


# Log files
npm-debug.log*

# Editor directories and files
.idea
